<footer>
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
      <div class="footer_newsletter">
        {%- if section.settings.newsletter_enable -%}
          {%- if section.settings.newsletter_heading != blank -%}
            <h4>{{ section.settings.newsletter_heading | escape }}</h4>
          {%- endif -%}
          <div class="footer_newsletter_form">
          {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="field__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="ContactFooter-error"
              {% elsif form.posted_successfully? %}
                aria-describedby="ContactFooter-success"
              {% endif %}
              placeholder="{{ 'newsletter.label' | t }}"
              required
            >
            <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
              {% render 'icon-arrow' %}
            </button>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}
            {%- if form.posted_successfully? -%}
              <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
            {%- endif -%}
          {%- endform -%}
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.menu.links -%}
        <div class="footer_nav">
          <ul role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}">
                      {{ link.title | escape }}
                  </a>
                </li>
              {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if section.settings.show_social -%}
        <div class="footer_social">
          <ul role="list">
            {%- if settings.social_twitter_link != blank -%}
              <li>
                <a href="{{ settings.social_twitter_link }}">
                  <i class="pearly-twittericon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_facebook_link != blank -%}
              <li>
                <a href="{{ settings.social_facebook_link }}">
                  <i class="pearly-facebookicon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li>
                <a href="{{ settings.social_pinterest_link }}">
                  <i class="pearly-pinteresticon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li>
                <a href="{{ settings.social_instagram_link }}">
                  <i class="pearly-instagramicon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li>
                <a href="{{ settings.social_tiktok_link }}">
                  <i class="pearly-tiktokicon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li>
                <a href="{{ settings.social_tumblr_link }}">
                  <i class="pearly-tumblricon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li>
                <a href="{{ settings.social_snapchat_link }}">
                  <i class="pearly-snapchaticon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li>
                <a href="{{ settings.social_youtube_link }}">
                  <i class="pearly-youtubeicon"></i>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li>
                <a href="{{ settings.social_vimeo_link }}">
                  <i class="pearly-vimeoicon"></i>
                </a>
              </li>
            {%- endif -%}
          </ul>
          {%- if section.settings.social_heading != blank -%}
            <p>{{ section.settings.social_heading | escape }}</p>
          {%- endif -%}
        </div>
      {%- endif -%}
  {%- endif -%}
</footer>

<section class="copyright">
    <p>&copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}</p>
</section>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "text",
      "id": "social_heading",
      "default": "HANDCRAFTED IN SWITZERLAND",
      "label": "t:sections.footer.settings.social_heading.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "t:sections.footer.blocks.link_list.settings.menu.label",
      "info": "t:sections.footer.blocks.link_list.settings.menu.info"
    }
  ]
}
{% endschema %}
