{% comment %} {{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
 {% endcomment %}

{%- style -%}
  #Banner-{{ section.id }} {
    {%- if section.settings.image != blank -%}
    background-image: url({{ section.settings.image | img_url: '1780x' }});
    {%- endif -%}
  }
{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="bg_card" data-cardTheme="{{ section.settings.color_scheme }}">
  <div class="bg_card_content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="" {{ block.shopify_attributes }}>
                {{ block.settings.heading | escape }}
              </h2>
            {%- when 'text' -%}
              <p {{ block.shopify_attributes }}>
                {{ block.settings.text | escape }}
              </p>
            {%- when 'buttons' -%}
              <div class="banner__buttons" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label_1 != blank -%}
                  <a{% if block.settings.button_link_1 != blank %} href="{{ block.settings.button_link_1 }}" {% endif %} class="btn1" {% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
  </div>
</div>

{% schema %}
{
   "name":"t:sections.image-banner.name",
   "tag":"section",
   "class":"spaced-section spaced-section--full-width",
   "settings":[
      {
         "type":"image_picker",
         "id":"image",
         "label":"t:sections.image-banner.settings.image.label"
      },
      {
         "type":"checkbox",
         "id":"show_text_box",
         "default":true,
         "label":"t:sections.image-banner.settings.show_text_box.label"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"dark",
               "label":"t:sections.image-banner.settings.color_scheme.options__1.label"
            },
            {
               "value":"light",
               "label":"t:sections.image-banner.settings.color_scheme.options__2.label"
            }
         ],
         "default":"dark",
         "label":"t:sections.image-banner.settings.color_scheme.label",
         "info":"t:sections.image-banner.settings.color_scheme.info"
      },
      {
         "type":"header",
         "content":"t:sections.image-banner.settings.header.content"
      }
   ],
   "blocks":[
      {
         "type":"heading",
         "name":"t:sections.image-banner.blocks.heading.name",
         "limit":1,
         "settings":[
            {
               "type":"text",
               "id":"heading",
               "default":"Image banner",
               "label":"t:sections.image-banner.blocks.heading.settings.heading.label"
            }
         ]
      },
      {
         "type":"text",
         "name":"t:sections.image-banner.blocks.text.name",
         "limit":1,
         "settings":[
            {
               "type":"text",
               "id":"text",
               "default":"Give customers details about the banner image(s) or content on the template.",
               "label":"t:sections.image-banner.blocks.text.settings.text.label"
            }
         ]
      },
      {
         "type":"buttons",
         "name":"t:sections.image-banner.blocks.buttons.name",
         "limit":1,
         "settings":[
            {
               "type":"text",
               "id":"button_label_1",
               "default":"Button label",
               "label":"t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
               "info":"t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
            },
            {
               "type":"url",
               "id":"button_link_1",
               "label":"t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
            },
            {
               "type":"checkbox",
               "id":"button_style_secondary_1",
               "default":false,
               "label":"t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
            },
            {
               "type":"text",
               "id":"button_label_2",
               "default":"Button label",
               "label":"t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
               "info":"t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
            },
            {
               "type":"url",
               "id":"button_link_2",
               "label":"t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
            },
            {
               "type":"checkbox",
               "id":"button_style_secondary_2",
               "default":false,
               "label":"t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"t:sections.image-banner.presets.name",
         "blocks":[
            {
               "type":"heading"
            },
            {
               "type":"text"
            },
            {
               "type":"buttons"
            }
         ]
      }
   ]
}
{% endschema %}
